.cart__fakeAd {
    width: 400px;
    margin-bottom: 10px;
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 80%)
}

.cart {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.cart__left {
    flex: 2;
}

.cart__left > div:nth-child(2) {
    margin-left: 93px;
}

.cart__container {
    background-color: white;
}

.cart__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 20px; 
    background-color: #f2f1ec;
    border: 1px solid #dddddd;
    border-radius: 3px;
    gap: 1rem;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal button {
    background: #30475E;
    border-radius: 2px;
    width: 100%;
    border: 1p solid;
    margin-top: 10px;
    border: none;
    color: #FFF;
    padding: 0.3rem
}
