.userReviews_container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 700px;
    margin-bottom: 20px;
}

.userReviews_rating {
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0 0.25rem 0;
}

.userReviews__review {
    overflow-wrap: anywhere;
}

.userReviews__img {
    margin-top: 1rem;
    height: 5rem;
    width: 5rem;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.userReviews__img__full {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    max-height: 90vh;
    max-width: 70vw;
}

.userReviews__user > span, .usersReviews__date {
    font-size: 0.85rem;
    line-height: 20px;
    color: #151515;
}

.userReviews__headline {
    font-weight: 650;
    padding-left: 1ch;
}

.usersReviews__verified {
    font-weight: 800;
    font-size: 0.7rem;
    color: #67a796;
}

.userReviews__review__body {
    font-size: 0.9rem;
}

.userReviews_review_buttons_delete {
    background: #FF6B6B;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 2px;
    border: none;
    padding: 5px;
    color: rgb(255, 255, 255);
    width: 10rem;
}

.userReviews_review_buttons_edit {
    background: #30475E;
    margin-top: 10px;
    border-color: #4F091D #000000 #4F091D;
    border-radius: 2px;
    padding: 5px;
    color: rgb(255, 255, 255);
    width: 10rem;
    border: none;
    padding: 5px;
    color: rgb(255, 255, 255);
    width: 10rem;
}



