.header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #97BFB4;
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    justify-content: center;
}

.header > a {
    /* margin-left: 280px; */
}

.header__title {
    font-family: 'Pacifico', cursive;
    padding: 5px;
    color: #012443;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 14px;
    padding: 10px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    width: 525px;
    font-weight: bold;
    letter-spacing: 0.2ch;
    text-align: center;
}

.header__searchInput:focus {
    outline: none;
}

.header__searchIcon {
    padding: 5px;
    height: 23px !important;
    background-color: #F5EEDC;
    border-radius: 0px 10px 10px 0px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.header__meta {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #012443;
}

.header__metaLineOne {
    font-size: 12px;
}

.header__metaLineTwo {
    font-size: 14px;
    font-weight: 800;
}

.header__metaBasket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #012443;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 30px;
}

.header__basket__badge {
    position: relative;
    top: 5px;
    left: 5px;
    min-width: .3em; /* rem unit */
    padding: 0.05rem 0.4rem; /* rem unit */
    border-radius: 50%;
    text-align: center;
    background: #FDD2BF;
    color: #012443;
    font-size: 0.8rem;
    font-weight: bold;
}

.header__metaBasket > a {
    text-decoration: none;
}

.header__metaBasket > a:visited {
    color: #012443;
}

.fa-colored {
    color: #012443;
}

.logout__container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding-right: 5px;
}

.category {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FDD2BF;
}

.category__heading {
    font-weight: 500;
    color: #012443;
}

.header__nav > div:nth-child(2) > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.header__nav > div:nth-child(2) > a:visited {
    color: #012443;
}

.aboutMe__container {
    height: 100%;
    display: flex;
}

.aboutMe {
    display: flex;
    align-items: flex-end;
}

.aboutMe > div > span > a {
    font-style: italic;
    text-decoration: none;
    color: rgb(98, 60, 60);
    font-weight: bold;
}

.aboutMe > div:first-child {
    display: flex;
    gap: 0.3ch;
    font-size: 0.7rem;
}

.aboutMe > div > a > img {
    object-fit: contain;
    height: 35px;
    margin: 0.5px 2ch 3px;
}