.confirmOrder__master__container {
    background: white;
    height: 100%;
}
.confirmOrder__container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
}

.confirmOrder__container hr {
    margin: 10px 50px;
}

.confirmOrder__shipping__info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1ch;
}

.confirmOrder__shipping__info__address {
    display: flex;
    flex-direction: row;
    gap: 1ch;
}

.confirmOrder__shipping__info__address > h3:first-child {
    color: green;
    flex: 0 0 20px;
}

.confirmOrder__shipping__info__address > h3:nth-child(2) {
    color:red;
    flex: 0 0 200px;
}

.confirmOrder__shipping__info__address__details {
    color: purple;
    flex: 0 0 400px;
}

.confirmOrder__shipping__info__review {
    display: flex;
    flex-direction: row;
    gap: 1ch;
}

.confirmOrder__shipping__info__review > h3:first-child {
    color: rgb(135, 28, 92);
    flex: 0 0 20px;
}

.confirmOrder__shipping__info__review__details div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5ch;
}

.confirmOrder__shipping__info__review__container {
    margin: 10px 50px;
    border: 1px red solid;
    border-radius: 10px;
    padding: 10px 15px;
}

.confirmOrder__shipping__info__review__headline {
    padding: 0px 0px 10px 0px;
}

.confirmOrder__shipping__info__review__headline__box {
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 0, 255);
}

.confirmOrder__shipping__info__review__headline__box > span {
    margin-left: 7px;    
}

.confirmOrder__shipping__info__review__headline__border {
    content:"dsfsdfsd";
    background-color: rgb(242, 0, 255);
    width: 10px;
    height: 40px;
}

.confirmOrder__shipping__info__review__item__container {
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
}

.confirmOrder__shipping__info__review__item__product > div {
    color: red;
    float: right;
}

.confirmOrder__shipping__info__review__item__image {
    object-fit: contain;
    height: 100px;
    width: 100px;
}

.confirmOrder__shipping__info__review__item__product__details {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.confirmOrder__shipping__info__review__item__product__details * {
    margin: 1px 0px;
}

.confirmOrder__shipping__info__review__item__product__details > button:nth-child(4) {
    color: purple;
    flex: 0 0 auto;
    width: 70px;
}

.confirmOrder__shipping__info__review__item__product__details > button:nth-child(6) {
    color: purple;
    flex: 0 0 auto;
    width: 150px;
}

.confirmOrder__shipping__info__review__item__product__details__price {
    display: flex;
    flex-direction: row;
    gap: 0.5ch;
}

.confirmOrder__shipping__info__review__place {
    display: flex;
    flex-direction: row;
}


.confirmOrder__shipping__info__address__details {
    display: flex;
    flex-direction: column;
}

.confirmOrder__place__order {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.confirmOrder__shipping__info__review__item__delivery > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
    margin: 1ch 1ch;
}

.confirmOrder__shipping__info__review__place {
    margin: 10px 50px;
    border: 1px green solid;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 1ch;
}

.confirmOrder__shipping__info__review__place > button {
    width: 150px;
    height: 30px;
    padding: 0 0;
    border-radius: 2px;
    font-size: 0.6rem;
}

.confirmOrder__shipping__info__review__place_total span {
    font-size: 0.8rem;
}

.confirmOrder__place__order > span:nth-child(2) {
    font-size: 0.6rem;
    text-align: center;
}

.confirmOrder__place__order {
    border: red solid 1px;
    height: fit-content;
}

.confirmOrder__place__container {
    padding: 8px;
}

.confirmOrder__place__order__button {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.confirmOrder__place__order__button > button {
    padding: 5px 50px;
    font-size: 0.6rem;
    margin: 5px 0px;
    border-radius: 2px;
}

.confirmOrder__place__order__button span:nth-child(2) {
    font-size: 0.6rem;
    text-align: center;
}

.confirmOrder__place__order hr {
    margin: 5px 10px;
}

.confirmOrder__place__order div:nth-child(4), .confirmOrder__place__order div:nth-child(5), .confirmOrder__place__order div:nth-child(6), .confirmOrder__place__order div:nth-child(7) {
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
}


.confirmOrder__place__order div span:first-child {
    color: rgb(3, 79, 36);
    flex: 0 0 155px;
}

.confirmOrder__place__order div:nth-child(9) {
    display: flex;
    flex-direction: row;
}

.confirmOrder__place__order div h4:first-child {
    color: rgb(3, 79, 36);
    flex: 0 0 130px;
}

.confirmOrder__place__order__bottom {
    background: purple;
    padding: 10px;
    font-size: 0.6rem;
}